---
import { Image } from 'astro:assets';
import CharacterModelImage from '../../assets/images/rhiannonsDude2.png';

export interface Props {
	title?: string;
  subtitle? : string;
  tagline? : string;
  image? : string | any;
  gameAssetsImage? : string | any;
  modelingRoomImage? : string | any;
}
const {
	title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline = await Astro.slots.render('tagline'),
  image = await Astro.slots.render('image'),
  gameAssetsImage = await Astro.slots.render('gameAssetsImage'),
  modelingRoomImage = await Astro.slots.render('modelingRoomImage'),
} = Astro.props;

function redirect() {
  Astro.redirect('/test');
}
---

<section class="w-screen h-fit flex flex-col justify-around items-center -z-50" id="about">
    <div class="w-full p-5 text-center">
        {
            tagline && (
                <p
                  class="text-base text-red-400 dark:text-red-400 font-bold tracking-wide uppercase"
                  set:html={tagline}
                />
              )
            }
            {
                title && (
                  <h1
                    class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200"
                    set:html={title}
                  />
                )
            }
            {subtitle && <p class="text-xl text-muted mb-6 dark:text-white/75" set:html={subtitle} />}
    </div>
    <div class="grid grid-col-1 w-full gap-5 place-items-center">
      <div class="card card-side w-5/6 pl-5 shadow-xl glass">
        <div class="card-body">
          <figure>
            {typeof image === 'string' ? (
                <Fragment set:html={image} />
              ) : (
                <Image
                  class="mx-auto rounded-md w-full"
                  widths={[400, 768, 1024, 2040]}
                  sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
                  loading="eager"
                  width={1024}
                  height={576}
                  {...image}
                />
              )}
          </figure>
          <div class="card-actions justify-end">          
            <a href={import.meta.env.BASE_URL + '/projects/character-models'} class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Details</a>
          </div>
          <h2 class="card-title">Character Models</h2>
          <p>A random assortment of high quality character models.</p>
        </div>
      </div>
      <div class="card card-side w-5/6 pl-5 shadow-xl glass">
        <div class="card-body">
          <figure>
            {typeof image === 'string' ? (
                <Fragment set:html={image} />
              ) : (
                <Image
                  class="mx-auto rounded-md w-full"
                  widths={[400, 768, 1024, 2040]}
                  sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
                  loading="eager"
                  width={1024}
                  height={576}
                  {...modelingRoomImage}
                />
              )}
          </figure>
          <div class="card-actions justify-end">
            <a href={import.meta.env.BASE_URL + '/projects/modeling-my-room'} class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Details</a>
          </div>
          <h2 class="card-title">Game Ready Assets</h2>
          <p>Check out the Modelling my room project for some high quality, procedurally generated assets. </p>
        </div>
      </div>
    </div>
</section>